# nix stuff
.direnv
.envrc
.pre-commit-config.yaml
result

# Binary
zappy_ai
zappy_server
zappy_gui

tests_server
tests_gui

debug_server
debug_gui

# build artifacts
.build
venv
__pycache__
*.[aod]
*.so
*.egg-info
.coverage

# Editors
.idea
.vscode
compile_commands.json

# Basic files
a.out

# Documentation
.doc
docs/build
docs/doxygen
docs/source/api
